In [476]:
# !pip install pyomo
# !pip install idaes-pse

In [477]:

import numpy as np
import pandas as pd
import time

from pyomo.environ import *

solvername = 'ipopt'

Caso não encontre o solver na pasta:
- Importar arquivos de extensões da biblioteca IDAES.

In [478]:
# search for solver executable in the PATH

import os

if os.path.exists('bin\\' + solvername + '.exe'):
    print(solvername + ' executable found')
    # add current folder to the PATH
    os.environ['PATH'] += ';.'

else:
    print(solvername + ' executable not found')

    # ------------------------- # 

    !idaes get-extensions --to ./bin
    os.environ['PATH'] += ':bin'

ipopt executable found

In [479]:

# UTEs = [('UTE1', 'UTE2', 'UTE3', 'UTE4'),  # Nome
#         (1000, 970, 700, 680),  # a
#         (16.19, 17.26, 16.6, 16.5),  # b
#         (0.00048, 0.00031, 0.002, 0.00211),  # c
#         (455, 455, 130, 130),  # PGmax
#         (150, 150, 20, 20)]  # PGmin
# UTEs = np.transpose(UTEs)
# UTE = pd.DataFrame(UTEs, columns=['Nome','a','b','c','PGmax','PGmin'])



# sistema base com 10 unidades geradoras

UTEs = [('UTE1', 'UTE2', 'UTE3', 'UTE4', 'UTE5', 'UTE6', 'UTE7', 'UTE8', 'UTE9', 'UTE10', 'Deficit'),  # Nome
        (1000, 970, 700, 680, 450, 370, 480, 660, 665, 670, 20000),  # a
        (16.19, 17.26, 16.6, 16.5, 19.7, 22.26, 27.74, 25.92, 27.27, 27.79, 600),  # b
        (0.00048, 0.00031, 0.002, 0.00211, 0.00398, 0.00712, 0.00079, 0.00413, 0.00222, 0.00173, 1),  # c
        (455, 455, 130, 130, 162, 80, 85, 55, 55, 55, 2000),  # PGmax
        (150, 150, 20, 20, 25, 20, 25, 10, 10, 10, 0)]  # PGmin
UTEs = np.transpose(UTEs)
UTE = pd.DataFrame(UTEs, columns=['Nome','a','b','c','PGmax','PGmin'])


# ------------------------- #


# Dem = [('Hora1', 450, 45),
#        ('Hora2', 530, 53),
#        ('Hora3', 600, 60),
#        ('Hora4', 540, 54),
#        ('Hora5', 400, 40),
#        ('Hora6', 280, 28),
#        ('Hora7', 290, 29),
#        ('Hora8', 500, 50)]
# Dem = pd.DataFrame(Dem, columns=['Hora','Dem', 'Res'])


# sistema 10 unidades geradoras

Dem = [('Hora1', 700, 70),
        ('Hora2', 750, 75),
        ('Hora3', 850, 85),
        ('Hora4', 950, 95),
        ('Hora5', 1000, 100),
        ('Hora6', 1100, 110),
        ('Hora7', 1150, 115),
        ('Hora8', 1200, 120),
        ('Hora9', 1300, 130),
        ('Hora10', 1400, 140),
        ('Hora11', 1450, 145),
        ('Hora12', 1500, 150),
        ('Hora13', 1400, 140),
        ('Hora14', 1300, 130),
        ('Hora15', 1200, 120),
        ('Hora16', 1050, 105),
        ('Hora17', 1000, 100),
        ('Hora18', 1100, 110),
        ('Hora19', 1200, 120),
        ('Hora20', 1400, 140),
        ('Hora21', 1300, 130),
        ('Hora22', 1100, 110),
        ('Hora23', 900, 90),
        ('Hora24', 800, 80)]

Dem = pd.DataFrame(Dem, columns=['Hora','Dem', 'Res'])


# ------------------------- #


UTE['a'] = UTE['a'].astype('float')
UTE['b'] = UTE['b'].astype('float')
UTE['c'] = UTE['c'].astype('float')
UTE['PGmax'] = UTE['PGmax'].astype('float')
UTE['PGmin'] = UTE['PGmin'].astype('float')


UTE
# Dem

       Nome        a       b        c   PGmax  PGmin
0      UTE1   1000.0   16.19  0.00048   455.0  150.0
1      UTE2    970.0   17.26  0.00031   455.0  150.0
2      UTE3    700.0   16.60  0.00200   130.0   20.0
3      UTE4    680.0   16.50  0.00211   130.0   20.0
4      UTE5    450.0   19.70  0.00398   162.0   25.0
5      UTE6    370.0   22.26  0.00712    80.0   20.0
6      UTE7    480.0   27.74  0.00079    85.0   25.0
7      UTE8    660.0   25.92  0.00413    55.0   10.0
8      UTE9    665.0   27.27  0.00222    55.0   10.0
9     UTE10    670.0   27.79  0.00173    55.0   10.0
10  Deficit  20000.0  600.00  1.00000  2000.0    0.0

In [480]:
# # mudar a demanda da hora 6, usando o iloc
# Dem.iloc[5,1] = 900
# Dem.iloc[5,2] = 90
# Dem

In [481]:
# Função para otimização do Unit Commitment

def Otimiza_UC(UTE,Dem,Sig,Print):
    #=====================================Modelagem do Problema============================================================
    modelo = ConcreteModel('Otimizacao Unit Commitment')

    # ----------------    Variáveis

    # def limite_UTE(modelo,pg,ext):
    #     return (UTE[UTE['Nome'] == pg]['PGmin'].values[0], UTE[UTE['Nome'] == pg]['PGmax'].values[0])
    # modelo.Pg = Var(UTE['Nome'], Dem['Hora'], bounds=limite_UTE, domain=NonNegativeReals)
    
    def limite_U(modelo,pg,ext):
        return (0, 1)
    modelo.U = Var(UTE['Nome'], Dem['Hora'], bounds=limite_U, domain=NonNegativeReals) # Função Decisão de Operação - FDO

    if Sig == 1:
        def limite_X(modelo,pg,ext):
            return (0.0, 20.0)
        modelo.X = Var(UTE['Nome'], Dem['Hora'], bounds=limite_X, domain=NonNegativeReals) # Argumento da FDO  -  utilizado na aproximação sigmoidal


    # ----------------    Declarar Função Objetivo
    def objective_rule(modelo):
        fob = 0
        for h in Dem['Hora']:
            fob += sum((UTE[UTE['Nome'] == g]['a'].values[0] +
                        UTE[UTE['Nome'] == g]['b'].values[0]*UTE[UTE['Nome'] == g]['PGmax'].values[0] +
                        UTE[UTE['Nome'] == g]['c'].values[0]*UTE[UTE['Nome'] == g]['PGmax'].values[0]**2)*modelo.U[g,h] for g in UTE['Nome'])
        return fob


    modelo.objetivo = Objective(rule=objective_rule,sense=minimize)

    # ----------------     Declarar Restrições
    # modelo.AtendDem = ConstraintList()

    # for h in Dem['Hora']:
    #     modelo.AtendDem.add(sum(modelo.U[g,h]*UTE[UTE['Nome'] == g]['PGmax'].values[0] for g in UTE['Nome']) == Dem[Dem['Hora'] == h]['Dem'].values[0])

    modelo.AtendDemRes = ConstraintList()

    for h in Dem['Hora']:
        modelo.AtendDemRes.add(sum(modelo.U[g,h]*UTE[UTE['Nome'] == g]['PGmax'].values[0] for g in UTE['Nome']) >=
                               Dem[Dem['Hora'] == h]['Dem'].values[0] + Dem[Dem['Hora'] == h]['Res'].values[0])

    # FDO Sigmoidal - definição

    if Sig == 1:
        modelo.FDO_Sigmoide = ConstraintList() # Restrição da FDO Sigmoidal
        alpha=10
        for h in Dem['Hora']:
            for g in UTE['Nome']:
                modelo.FDO_Sigmoide.add(modelo.U[g,h]  -  (exp(alpha * (modelo.X[g,h])) - 1) / (exp(alpha * (modelo.X[g,h])) + 1) == 0)


    # caso Sig == 0, o algoritmo decidirá o valor de U entre 0 e 1; logo, será feita uma aproximação linear

    # modelo.pprint()


    # ------------------------- #

    ### Executar a Otimização.
    # solver = SolverFactory('ipopt')
    # solver = SolverFactory('ipopt',executable='ipopt.exe')
    solver = SolverFactory('ipopt',executable='bin/ipopt')

    result = solver.solve(modelo, tee = (Print > 1))

    # Relatório dos resultados de otimização

    if Print >= 1:
        if Sig == 1:
            print(' - Função Decisão de Operação (FDO) Sigmoidal \n')
        else:
            print(' - Função Decisão de Operação (FDO) Linear \n')
        print('UNIT COMMITMENT')
        print('Status:', result.solver.status) # Status Final do Problema de Otimização
        print('Condição de Término:', result.solver.termination_condition)
        print('Resultado Função Objetivo: R$ ', value(modelo.objetivo),'\n')


    # ------------------------- #

    u_val = modelo.U.extract_values()

    df_u = pd.DataFrame(columns=UTE['Nome'], index=Dem['Hora'])
    for i in u_val:
        df_u[i[0]][i[1]] = u_val[i]


    # ordenar, para cada hora, as UTEs em ordem decrescente de U
    ordem_despacho = np.zeros((len(Dem['Hora']), len(UTE['Nome'])))
    for i in range(len(Dem['Hora'])):
        # guardar o número da UTE 
        ordem_despacho[i] = np.argsort(df_u.iloc[i])[::-1]

    ordem_despacho = ordem_despacho.astype(int)

    # print('Ordem de Despacho das UTEs:')
    # print(ordem_despacho)


    # ------------------------- #

    # Unit Commitment
    UC = np.zeros((len(Dem['Hora']), len(UTE['Nome']))).astype(int)

    for i in range(len(Dem['Hora'])):
        on = 0
        soma_ger_max = 0
        soma_ger_min = 0

        while soma_ger_max <= Dem['Dem'][i] + Dem['Res'][i]:
            soma_ger_max += UTE['PGmax'][ordem_despacho[i][on]]
            soma_ger_min += UTE['PGmin'][ordem_despacho[i][on]]

            if soma_ger_min <= Dem['Dem'][i]:
                UC[i][ordem_despacho[i][on]] = 1
            
            else:
                soma_ger_max -= UTE['PGmax'][ordem_despacho[i][on]]
                soma_ger_min -= UTE['PGmin'][ordem_despacho[i][on]]
                break
            
            on += 1


    return modelo, UC, df_u

In [482]:
# Função para otimização do Despacho

def Otimiza_Despacho(UTE,Dem,UC,Print):    

    #=====================================Modelagem do Problema============================================================
    modelo = ConcreteModel('Otimizacao do Despacho')
    
    # ----------------    Limites das Variáveis
    def limite_UTE(modelo,pg,ext):
        return (UTE[UTE['Nome'] == pg]['PGmin'].values[0], UTE[UTE['Nome'] == pg]['PGmax'].values[0])

    # ----------------    Declarar Variáveis
    modelo.Pg = Var(UTE['Nome'], Dem['Hora'], bounds=limite_UTE, domain=NonNegativeReals)

    # ----------------    Declarar Função Objetivo
    def calcular_fob(PG):
        fob = 0
        for h, Hora in enumerate(Dem['Hora']):
            for g in range(len(UTE['Nome'])):
                try:
                    fob += (UTE['a'][g] + UTE['b'][g]*PG[UTE['Nome'][g], Hora] + UTE['c'][g]*PG[UTE['Nome'][g], Hora]**2)*UC[h][g]
                except:
                    fob += (UTE['a'][g] + UTE['b'][g]*PG[UTE['Nome'][g]][Hora] + UTE['c'][g]*PG[UTE['Nome'][g]][Hora]**2)*UC[h][g]
        return fob

    def objective_rule(modelo):
        return calcular_fob(modelo.Pg)


    modelo.objetivo = Objective(rule=objective_rule,sense=minimize)

    # ----------------     Declarar Restrições
    modelo.AtendDem = ConstraintList()

    for h, Hora in enumerate(Dem['Hora']):
        atend_dem = 0
        for g, nome_g in enumerate(UTE['Nome']):
            atend_dem += modelo.Pg[nome_g, Hora]*UC[h][g]

        modelo.AtendDem.add(atend_dem == Dem['Dem'][h])

    
    # modelo.AtendDemRes = ConstraintList()

    # for h, Hora in enumerate(Dem['Hora']):
    #     atend_res = 0
    #     for g, nome_g in enumerate(UTE['Nome']):
    #         atend_res += modelo.Pg[nome_g, Hora]*UC[h][g]

    #     modelo.AtendDemRes.add(atend_res >= Dem['Dem'][h] + Dem['Res'][h])


    # modelo.UC_off = ConstraintList()

    # for h, Hora in enumerate(Dem['Hora']):
    #     uc_off = 0
    #     for g, nome_g in enumerate(UTE['Nome']):
    #         if UC[h][g] == 0:
    #             modelo.UC_off.add(modelo.Pg[nome_g, Hora] == 0)

        
    # modelo.pprint()


    # ------------------------- #

    ### Executar a Otimização.
    # solver = SolverFactory('ipopt')
    # solver = SolverFactory('ipopt',executable='ipopt.exe')
    solver = SolverFactory('ipopt',executable='bin/ipopt')

    result = solver.solve(modelo, tee = (Print > 1))


    # ------------------------- #

    pg_val = modelo.Pg.extract_values()

    df_pg = pd.DataFrame(columns=UTE['Nome'], index=Dem['Hora'])
    for i in pg_val:
        df_pg[i[0]][i[1]] = pg_val[i]
        if df_pg[i[0]][i[1]] == None:
            df_pg[i[0]][i[1]] = 0

    # Relatório dos resultados de otimização

    if Print >= 1:
        print('DESPACHO')
        print('Status:', result.solver.status) # Status Final do Problema de Otimização
        print('Condição de Término:', result.solver.termination_condition)
        print('Resultado Função Objetivo: R$ ', calcular_fob(df_pg), '\n')

    return modelo, df_pg

In [483]:
# Código Principal  -  Otimização Unit Commitment + Despacho

Print = 1  # 0: não imprimir nada;  1: imprimir resultados;  2: imprimir resultados e relatório do solver

t = time.time()

# Modelo com aproximação linear
modelo_lin, unit_commit_lin, var_U_lin = Otimiza_UC(UTE, Dem, Sig=False, Print=Print)
# print(unit_commit_lin)
modelo_desp_lin, despacho_lin = Otimiza_Despacho(UTE, Dem, unit_commit_lin, Print=Print)

t_lin = time.time() - t
if Print >= 1:
    print('Tempo:', t_lin, 'segundos')
    print(1*'\n ' + 45*'-' + 2*'\n')


#  --------------------------- #


# Modelo com aproximação sigmoide
modelo_sig, unit_commit_sig, var_U_sig = Otimiza_UC(UTE, Dem, Sig=True, Print=Print)
modelo_desp_sig, despacho_sig = Otimiza_Despacho(UTE, Dem, unit_commit_sig, Print=Print)

t_sig = time.time() - t - t_lin
if Print >= 1:
    print('Tempo:', t_sig, 'segundos')

 - Função Decisão de Operação (FDO) Linear

UNIT COMMITMENT
Status: ok
Condição de Término: optimal
Resultado Função Objetivo: R$  610525.2519470493

DESPACHO
Status: ok
Condição de Término: optimal
Resultado Função Objetivo: R$  559459.307638475

Tempo: 1.123868703842163 segundos

 ---------------------------------------------


 - Função Decisão de Operação (FDO) Sigmoidal

UNIT COMMITMENT
Status: ok
Condição de Término: optimal
Resultado Função Objetivo: R$  610525.2562906217

DESPACHO
Status: ok
Condição de Término: optimal
Resultado Função Objetivo: R$  559459.307638475

Tempo: 0.8100810050964355 segundos

In [484]:
# rodar os modelos linear e sigmoide varias vezes, para comparar os tempos

n = 0  # 1000

if n > 0:
    t_lin = np.zeros(n)
    t_sig = np.zeros(n)

    for i in range(n):
        t = time.time()
        modelo_lin, unit_commit_lin = Otimiza_UC(UTE, Dem, Sig=False, Print=0)
        modelo_desp_lin, despacho_lin = Otimiza_Despacho(UTE, Dem, unit_commit_lin, Print=0)
        t_lin[i] = time.time() - t

        t = time.time()
        modelo_sig, unit_commit_sig = Otimiza_UC(UTE, Dem, Sig=True, Print=0)
        modelo_desp_sig, despacho_sig = Otimiza_Despacho(UTE, Dem, unit_commit_sig, Print=0)
        t_sig[i] = time.time() - t

    print('Tempo médio linear:', np.mean(t_lin), 'segundos')
    print('Tempo médio sigmoide:', np.mean(t_sig), 'segundos')

In [485]:
despacho_lin

Nome,UTE1,UTE2,UTE3,UTE4,UTE5,UTE6,UTE7,UTE8,UTE9,UTE10,Deficit
Hora,,,,,,,,,,,
Hora1,455.0,244.999995,0,0,0,0,0,0,0,0,0
Hora2,455.0,294.999995,0,0,0,0,0,0,0,0,0
Hora3,455.0,264.999994,0,130.0,0,0,0,0,0,0,0
Hora4,455.0,234.999993,130.0,130.0,0,0,0,0,0,0,0
Hora5,455.0,284.999993,130.0,130.0,0,0,0,0,0,0,0
Hora6,455.0,359.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora7,455.0,409.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora8,455.0,455.0,130.0,130.0,29.999988,0,0,0,0,0,0
Hora9,455.0,455.0,130.0,130.0,84.999989,20.0,25.0,0,0,0,0
Hora10,455.0,455.0,130.0,130.0,162.0,32.999987,25.0,10.0,0,0,0
Hora11,455.0,455.0,130.0,130.0,162.0,72.999987,25.0,10.0,10.0,0,0
Hora12,455.0,455.0,130.0,130.0,162.0,80.0,25.0,42.999986,10.0,10.0,0
Hora13,455.0,455.0,130.0,130.0,162.0,32.999987,25.0,10.0,0,0,0
Hora14,455.0,455.0,130.0,130.0,84.999989,20.0,25.0,0,0,0,0
Hora15,455.0,455.0,130.0,130.0,29.999988,0,0,0,0,0,0
Hora16,455.0,334.999993,130.0,130.0,0,0,0,0,0,0,0
Hora17,455.0,284.999993,130.0,130.0,0,0,0,0,0,0,0
Hora18,455.0,359.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora19,455.0,455.0,130.0,130.0,29.999988,0,0,0,0,0,0
Hora20,455.0,455.0,130.0,130.0,162.0,32.999987,25.0,10.0,0,0,0
Hora21,455.0,455.0,130.0,130.0,84.999989,20.0,25.0,0,0,0,0
Hora22,455.0,359.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora23,455.0,314.999994,0,130.0,0,0,0,0,0,0,0
Hora24,455.0,344.999995,0,0,0,0,0,0,0,0,0

In [486]:
despacho_sig

Nome,UTE1,UTE2,UTE3,UTE4,UTE5,UTE6,UTE7,UTE8,UTE9,UTE10,Deficit
Hora,,,,,,,,,,,
Hora1,455.0,244.999995,0,0,0,0,0,0,0,0,0
Hora2,455.0,294.999995,0,0,0,0,0,0,0,0,0
Hora3,455.0,264.999994,0,130.0,0,0,0,0,0,0,0
Hora4,455.0,234.999993,130.0,130.0,0,0,0,0,0,0,0
Hora5,455.0,284.999993,130.0,130.0,0,0,0,0,0,0,0
Hora6,455.0,359.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora7,455.0,409.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora8,455.0,455.0,130.0,130.0,29.999988,0,0,0,0,0,0
Hora9,455.0,455.0,130.0,130.0,84.999989,20.0,25.0,0,0,0,0
Hora10,455.0,455.0,130.0,130.0,162.0,32.999987,25.0,10.0,0,0,0
Hora11,455.0,455.0,130.0,130.0,162.0,72.999987,25.0,10.0,10.0,0,0
Hora12,455.0,455.0,130.0,130.0,162.0,80.0,25.0,42.999986,10.0,10.0,0
Hora13,455.0,455.0,130.0,130.0,162.0,32.999987,25.0,10.0,0,0,0
Hora14,455.0,455.0,130.0,130.0,84.999989,20.0,25.0,0,0,0,0
Hora15,455.0,455.0,130.0,130.0,29.999988,0,0,0,0,0,0
Hora16,455.0,334.999993,130.0,130.0,0,0,0,0,0,0,0
Hora17,455.0,284.999993,130.0,130.0,0,0,0,0,0,0,0
Hora18,455.0,359.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora19,455.0,455.0,130.0,130.0,29.999988,0,0,0,0,0,0
Hora20,455.0,455.0,130.0,130.0,162.0,32.999987,25.0,10.0,0,0,0
Hora21,455.0,455.0,130.0,130.0,84.999989,20.0,25.0,0,0,0,0
Hora22,455.0,359.999993,130.0,130.0,25.0,0,0,0,0,0,0
Hora23,455.0,314.999994,0,130.0,0,0,0,0,0,0,0
Hora24,455.0,344.999995,0,0,0,0,0,0,0,0,0